ttf-sorts-mill-goudy/FONTLOG
ttf-sorts-mill-goudy/OFL-FAQ.txt
ttf-sorts-mill-goudy/OFL.txt
ttf-sorts-mill-goudy/OFLGoudyStM-Italic.otf
ttf-sorts-mill-goudy/OFLGoudyStM.otf
ttf-sorts-mill-goudy/sorts-mill-goudy.zip
ttf-sorts-mill-goudy/debian/ttf-sorts-mill-goudy.debhelper.log
ttf-sorts-mill-goudy/debian/ttf-sorts-mill-goudy.substvars
ttf-sorts-mill-goudy/debian/ttf-sorts-mill-goudy/
ttf-sorts-mill-goudy_001.000-1.dsc
ttf-sorts-mill-goudy_001.000-1.tar.gz
ttf-sorts-mill-goudy_001.000-1_all.deb
ttf-sorts-mill-goudy_001.000-1_i386.build
ttf-sorts-mill-goudy_001.000-1_i386.changes
